<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.tcd.scss.q_dj" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SettingsActivity2"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/title_activity_graph" >
        </activity>
        <activity
            android:name=".ChangeColourActivity"
            android:label="@string/title_activity_change_colour" >
        </activity>
        <activity android:name="com.spotify.sdk.android.authentication.LoginActivity" />
        <!--activity android:name="com.spotify.sdk.android.authentication.HostActivity" /-->
        <!--activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity-->
        <activity android:name=".AddActivity"
            android:label="Add music"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".HostActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".JoinPlaylist"
            android:label="@string/title_activity_join_playlist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
